<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
                <add name="CNX"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\jbjv\Documents\Visual Studio 2015\Projects\Jbanimalitos - beta1\Jbanimalitosv2\jbandb.mdf;Integrated Security=True"
                     
            providerName="System.Data.SqlClient" />
    
  <!-- C:\Users\E62480\Source\Repos\Jbanimalitos- - - beta1\Jbanimalitosv2\jbandb.mdf-->
    <!-- connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\jbandb.mdf;Integrated Security=True"  -->
    
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>