<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CNX"
            connectionString="Data Source=JBJV-PC\SQLEXPRESS;Initial Catalog=Loterias;User ID=sa;Password=gdfwdk**88"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>